<body id="background">
    <div class="hero-unit">
        
        <p>GigLocal is dedicated to cultivating a marketplace where customers may connect with local freelance musicians for their next event. Whether you're hosting a corporate event or a small, private concert for friends and family, GigLocal sources local professional talent matching your needs.</p>
        <p>Sign up today as an artist or a customer and get connected! <a routerLink="">Click here</a> to read more.</p>

    </div>
</body>